/* Colores de acceso global */
:root {
    --blanco: #FFFFFF;
    --oscuro: #212121;
    --primario: #FFc107;
    --secundario: #0097a7;
    --gris: #757575;
    --grisClaro: #dfe9f3;
  }
  
  html {
    font-size: 62.5%;
    box-sizing: border-box;
    background-image: linear-gradient(to top, var(--grisClaro) 0%, var(--blanco) 100%);
    /* gradiente es el degradado de colores indicados de gris a blanco */
    scroll-snap-type: mandatory;
  }
  
  .titulo,
  .servicios-heading,
  .contacto-heading {
    scroll-snap-align: start;
    /* Indica el punto en el contenedor de desplazamiento al que
  debe ajustarse el contenido*/
    scroll-snap-stop: always;
    /* Controla si el desplazamiento debe detenerse siempre en
  los puntos de ajuste */
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  /* Configuración de fuente */
  body {
    font-size: 16px;
    font-family: 'Krub', sans-serif;
  }
  
  .sombra {
    box-shadow: 0px 0px 15px 0px rgba(112, 112, 112, 0.48);
    -webkit-box-shadow: 0px 0px 15px 0px rgba(112, 112, 112, 0.48);
    -moz-box-shadow: 0px 0px 15px 0px rgba(112, 112, 112, 0.48);
    background-color: var(--blanco);
    padding: 2rem; /* Espacio de relleno interior "engordar" */
    border-radius: 2rem; /* Esquinas redondeadas */
  }
  
  h1 {
    font-size: 3.8rem;
  }
  
  h2 {
    font-size: 2.8rem;
  }
  
  h3 {
    font-size: 1.8rem;
  }
  
  h1,
  h2,
  h3 {
    text-align: center;
  }
  
  .titulo span {
    font-size: 2rem;
  }
  
  .contenedor {
    max-width: 120rem;
    margin: 0 auto;
  }
  
  .w-sm-100 {
    width: 100%;
  }
  
  @media (min-width: 768px) {
    .w-sm-100 {
      width: auto;
    }
  }
  
  .flex {
    display: flex;
  }
  
  .alinear-derecha {
    justify-content: flex-end;
  }
  
  .nav-bg {
    background-color: var(--secundario);
  }
  
  .navegacion-principal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: bold;
    font-size: 2rem;
    align-items: center;
  }
  
  .navegacion-principal a {
    padding: 1rem;
    color: var(--blanco);
    text-decoration: none;
  }
  
  .navegacion-principal a:hover {
    background-color: var(--primario);
    color: var(--oscuro);
  }
  
  @media (min-width: 768px) {
    .navegacion-principal {
      flex-direction: row;
    }
  }
  
  .hero {
    background-image: url(../img/hero.png); /* "../" es para regresar a un nivel de directorio, la carpeta img está afuera de CSS */
    background-repeat: no-repeat; /* para evitar que la imagen se repita si se hace zoom out*/
    background-size: cover;
    height: 450px; /*alto del elemento hero*/
    position: relative; /* el padre debe ser relative */
    margin-bottom: 2rem;/*Margen inferior para separar hacia abajo*/


}
  
  .contenido-hero {
    position: absolute; /*El hijo debe ser absoulte*/
    background-color: rgba(0, 0, 0, .7);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .contenido-hero h2,
  .contenido-hero p {
    color: var(--blanco);
  }
  
  .ubicacion {
    display: flex;
    align-items: flex-end;
  }
  
  
  .boton {
    background-color: var(--secundario);
    text-decoration: none;
    padding: 1rem 3rem;
    border-radius: .5rem;
    color: var(--blanco);
    margin-top: 3rem;
    font-weight: bold;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    width: 90%; /* Cambia el ancho a lo que desees */
    border: none;
    margin-left: auto;
    margin-right: auto;
  }
  
  @media (min-width: 768px) {
    .boton {
      width: auto;
    }
  }
  
  
  .boton:hover {
    cursor: pointer;
  }
  
  /* servicios */
  
  @media (min-width: 768px) {
    .servicios {
      display: grid;
      grid-template-columns: repeat(3, 1fr); /* 1fr 1fr 1fr o repeat(3,1fr) o 33.3% * es la distribucion entre los iconos/
      column-gap: 1rem; /* distancia entre columnas */
    }
  }
  
  .servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .servicio h3 {
    color: var(--secundario);
    font-weight: normal;
  }
  
  .servicio p {
    line-height: 2; /* interlineado */
    text-align: center;
  }
  
  .servicio .iconos {
    height: 15rem;
    width: 15rem;
    background-color: var(--primario);
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  
  /* Contacto */
  .formulario {
    background-color: var(--grisClaro);
    width: min(60rem, 100%);
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
  }
  
  .formulario fieldset {
    border: none;
  }
  
  .formulario legend {
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 2rem;
    text-transform: uppercase;
    color: var(--primario);
  }
  
  
  .campo {
    margin-bottom: 1rem;
  }
  
  .campo label {
    color: var(--blanco);
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
    /* Logra que las etiquets tengan todo el espacio disponible y esten separadas del input */
  }
  
  .input-text {
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;
  }
  
  .campo textarea {
    height: 20rem; /* Hace mas grande la altura del textarea*/
    width: 90%;
  }
  
  @media (min-width: 768px) {
    .contenedor-campos {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 1rem;
      grid-template-rows: auto auto 20rem;
    }
  
    .campo:nth-child(3),
    .campo:nth-child(4) {
      grid-column: 1/3;
    }
  }
  
  .footer {
    text-align: center;
  }